<app-admin-header></app-admin-header>
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div>
        <form #productForm="ngForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="name">Name Product:</label>
            <input type="text" id="name" name="name" [(ngModel)]="product.name" required>
          </div>
          <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" [(ngModel)]="product.description" required></textarea>
          </div>
          <div>
            <label>Feature Product:</label>
            <div>
              <label>
                <input type="radio" name="fetureProduct" [(ngModel)]="product.fetureProduct" [value]="1"> Yes
              </label>
              <label>
                <input type="radio" name="fetureProduct" [(ngModel)]="product.fetureProduct" [value]="0"> No
              </label>
            </div>
          </div>
          <div>
            <label for="brand">Brand:</label>
            <select name="BrandId" id="brand" class="form-control" [(ngModel)]="product.brandId" required>
              <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
            </select>
          </div>
          <div>
            <label for="category">Category:</label>
            <select name="CategoryId" id="category" class="form-control" [(ngModel)]="product.categoryId" required>
              <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
          </div>
          <button type="submit" [disabled]="!productForm.form.valid">Update Product</button>
        </form>
      </div>
    </div>
  </section>
</div>
<app-admin-footer></app-admin-footer>
<router-outlet></router-outlet>
